@page
@model BookListsWebApp.Pages.Books.DeleteModel
@{
    ViewData["Title"] = "Delete Book";
}

<h3 class="text-danger">Are you sure, you want to delte following book?</h3>
<hr />

<div class="row">
    <div class="col-4">
        <dl>
            <dt>
                @Html.DisplayNameFor(model => model.Book.Title)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Book.Title)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Book.Author)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Book.Author)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Book.Description)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Book.Description)
            </dd>
        </dl>
        @* <div class="form-group mt-2">
            <a asp-page="./Index" class="btn btn-primary">Back to Listing</a>
            <a asp-page="./Edit" asp-route-id="@Model.Book.Id" class="btn btn-primary">Edit</a>
        </div> *@

        <form method="post">
            <input type="hidden" asp-for="Book.Id" />
            <a asp-page="./Index" class="btn btn-primary">Back to Listing</a>
            <input type="submit" value="Delete" class="btn btn-danger" />
        </form>
    </div>
</div>
