@page
@model BookListsWebApp.Pages.Books.DetailModel
@{
    ViewData["Title"] = "Book Details";
}

<h1>Book Details</h1>

<div class="row">
    <div class="col-4">
        <dl>
            <dt>
                @Html.DisplayNameFor(model => model.Book.Title)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Book.Title)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Book.Author)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Book.Author)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Book.Description)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Book.Description)
            </dd>
        </dl>
        <div class="form-group mt-2">
            <a asp-page="./Index" class="btn btn-primary">Back to Listing</a>
            <a asp-page="./Edit" asp-route-id="@Model.Book.Id" class="btn btn-primary">Edit</a>
        </div>
    </div>
